<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">
              <h3 class="panel-title">Families</h3>
            </div>
            <div class="col-md-3 text-right">
              <a {{action 'addFamily' result}} ><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover table-condensed">
            <tbody>
            {{#each model.results as |result| }}
              <tr>
                {{#link-to 'families.family' result.id tagName='td' class="col-md-10"}}
                  {{result.name}}
                {{/link-to}}
                <td class="col-md-1">
                  <a {{action 'editFamily' result}} ><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td class="col-md-1">
                  <a {{action 'deleteFamily' result}} ><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{#if isEditing}}
  <div class="col-md-5">

    <div class="row edit-panel">
      <form class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Family</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-12">Name</label>
              <div class="col-sm-12">
                {{input type="text" class="form-control" placeholder="Last Name" value=editingFamily.name}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12" for="contact">Contact</label>
              <div class="col-sm-12">
                {{input type="text" class="form-control" placeholder="Email" value=editingFamily.email}}
              </div>
              <div class="col-sm-12">
                {{input type="text" class="form-control" placeholder="Phone" value=editingFamily.phone}}
              </div>
            </div>

          <div class="form-group">
            <label class="col-sm-12" for="contact">Address</label>
            <div class="col-sm-12">
              {{input type="text" class="form-control" placeholder="Address 01" value=editingFamily.address01}}
            </div>
            <div class="col-sm-12">
              {{input type="text" class="form-control" placeholder="Address 02" value=editingFamily.address02}}
            </div>
            <div class="col-sm-6">
              {{input type="text" class="form-control" placeholder="City" value=editingFamily.city}}
            </div>
            <div class="col-sm-3">
              {{input type="text" class="form-control" placeholder="State" value=editingFamily.state}}
            </div>
            <div class="col-sm-3">
              {{input type="text" class="form-control" placeholder="Zip" value=editingFamily.zipCode}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-12">Preferred Contact Method</label><br/>
            <div class="col-sm-4">
              {{#radio-button
                value="Phone"
                groupValue=editingFamily.preferredContactMethod
                changed="choosePreferredContactMethod"}}
                Phone
              {{/radio-button}}
            </div>
            <div class="col-sm-4">
              {{#radio-button
                value="Email"
                groupValue=editingFamily.preferredContactMethod
                changed="choosePreferredContactMethod"}}
                Email
              {{/radio-button}}
            </div>
            <div class="col-sm-4">
              {{#radio-button
                value="Mail"
                groupValue=editingFamily.preferredContactMethod
                changed="choosePreferredContactMethod"}}
                Mail
              {{/radio-button}}
            </div>
          </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <button {{action 'saveEditingFamily' }} class="btn btn-primary">
                  {{#if isAdd}}
                    Add
                  {{else}}
                    Save
                  {{/if}}
                </button>
                <button {{action 'cancelEditingFamily' }} c class="btn btn-default">Cancel</button>
              </div>
            </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  {{/if}}
</div>
