<div class="row">
    {{#link-to 'families.family' model.familyId tagName='a'}}
        Back to Family Members
    {{/link-to}}
</div>
<div class="row">
  <div class="col-md-7">
    <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">

          <form class="form-horizontal">
            <div class="form-group">
              <label>Production To Register For</label>
                {{#x-select class=form-group value=selectedProduction action="selectProduction" as |xs|}}
                    {{#each model.productions.results as | production | }}
                        {{#xs.option value=production.id}}{{production.name}}{{/xs.option}}
                    {{/each}}
                {{/x-select}}

            </div>

              {{#each model.members as |familyMember|}}
                  <div class="form-group">
                      <label>{{familyMember.firstName}} {{familyMember.lastName}}</label>
                      {{input type="text" class="form-control" placeholder="Requeted Roles" value=familyMember.requestedRoles}}
                      {{input type="text" class="form-control" placeholder="Rehearsal Conflicts" value=familyMember.rehearsalConflicts}}
                  </div>
              {{/each}}

            <div class="row">
              <div class="col-sm-10">
                <button {{action 'registerMembers' }} class="btn btn-primary">Register</button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
