<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-9">
            <h3 class="panel-title">Productions</h3>
          </div>
          <div class="col-md-3 text-right">
          <a {{action 'addProduction' result}} ><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th class="col-md-6">Name</th>
              <th class="col-md-2 text-right">Audition Date</th>
              <th class="col-md-2 text-right">Age Cutoff Date</th>
              <th class="col-md-1">&nbsp;</th>
              <th class="col-md-1">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {{#each model.results as | production | }}
            <tr>
              {{#link-to 'productions.production' production.id tagName='td'}}
                  {{production.name}}
              {{/link-to}}
              <td  class="text-right">{{moment-format production.auditionDate 'M/D/YY'}}</td>
              <td  class="text-right">{{moment-format production.ageCutoffDate 'M/D/YY'}}</td>

              <td  class="text-right">
                <a {{action 'editProduction' production}} ><span class="glyphicon glyphicon-pencil"></span></a>
              </td>
              <td  class="text-right">
                <a {{action 'deleteProduction' production}} ><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{{#if isEditing}}
  <div class="col-md-5">
    <div class="row  edit-panel">
      <form class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{#if isAdd }}Add{{else}}Edit{{/if}} Production</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-12">
              {{input type="text" class="form-control col-md-3" placeholder="Production Name" value=editingProduction.name}}
              </div>
            </div>
            <div class="form-group">

              <div class="col-sm-12">
                {{pikaday-input class="form-control col-md-3" format="M/D/YYYY" placeholder="Audition Data"
                                useUTC=true onSelection=(action 'updateAuditionDate') value=editingProduction.auditionDate}}
              </div>
              <div class="col-sm-12">
                {{pikaday-input class="form-control col-md-3" format="M/D/YYYY" placeholder="Age Cutoff Date"
                                useUTC=true onSelection=(action 'updateAgeCutoffDate') value=editingProduction.ageCutoffDate}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
              {{input type="text" class="form-control col-md-3" placeholder="Season" value=editingProduction.season}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
              <button {{action 'saveEditingProduction' }} class="btn btn-primary">
                {{#if isAdd}}
                  Add
                  {{else}}
                  Save
                {{/if}}
              </button>
                <button {{action 'cancelEditingProduction' }} c class="btn btn-default">Cancel</button>
              </div>
            </div>
        </div>
      </div>
      </form>
    </div>
  </div>
{{/if}}
</div>
